<div class="logo-container pull-left"> 
	<img src="/images/common/logo.png" alt="logo">
</div>
<form action="/login" method="post" id="login-form" class="navbar-form pull-right login-form">
	<input type="text" name="username" placeholder="Username" class="span3" required autocomplete="off">
	<input type="password" name="password" placeholder="Password" class="span3" required autocomplete="off">
	<input type="submit" value="Login" id="submit-btn" class="btn">
</form>	