<div class="container">
	<div class="logo-container pull-left"> 
		<img src="/images/common/logo.png" alt="logo">
	</div>	
	<div class="pull-right profile">
		<p> Loggged in as <%= user_sess.username %></p>
		<ul class="row">
		  <li class="span1"><a href="/result/home"> Home </a></li>
		  <li class="span1"><a href="/result/addpost"> Add Post </a></li>
		  <li class="span1"><a href="/result/mypost"> My Posts </a></li>
		  <li class="span1"><a href="/result/settings"> My Settings </a></li>
		  <li class="span1"><a href="/logout">Sign-out </a></li>
		</ul>
	<div>
</div>